<div class="parent">

  <div class="child-full img-box">
    <img class="center-fit" [src]="imagesService.currImage"/>
  </div>

  <div class="clock">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <app-clock></app-clock>
      </div>
    </div>
  </div>

  <div class="buttons">
    <div class="container">
      <div class="row">
        <mat-icon *ngIf="!clockService.isCounting" class="control-button" (click)="clockService.begin()">play_circle_outline</mat-icon>
        <mat-icon *ngIf="clockService.isCounting" class="control-button" (click)="clockService.cancel()">cancel</mat-icon>
      </div>
      <div class="buttons-spacer"></div>
      <div class="row">
        <mat-icon class="control-button" (click)="openSetupDialog()">settings</mat-icon>
      </div>
    </div>

  </div>

</div>
